GOOGLE_API_KEY=your_key_here
MODEL=your_model_here
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/job_board
SECRET_KEY=change-me-in-production
ENV=development || production
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
DEMO_USER=your_demo_user_id_here
RESEND_TOKEN=re_your_key_here
RESEND_FROM_EMAIL=noreply@yourdomain.com

# Frontend environment variables it will be sent via /config endpoint to the frontend (SvelteKit / Vite)
VITE_BACKEND_API_URL=
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id_here

# Optional: set the demo user identifier/email used to enable demo-user behavior locally
VITE_DEMO_USER=demo_user_id_here
VITE_ENABLE_SIGNUP=Boolean
VITE_DEMO_USER_EMAIL=demo_user_email_here
VITE_DEMO_USER_PASSWORD=demo_user_password_here

PUBLIC_GA_MEASUREMENT_ID=Google_Analytics_Measurement_ID_here